<%- include('partials/header', { title }) %>
<section class="card">
  <h1><%= title %></h1>
  <p><%= message %></p>
  <a class="button" href="/">Return to dashboard</a>
</section>
<%- include('partials/footer') %>
